#hint-container {
    position: absolute;
    top: 58px;
    min-width: calc(325px + 36px);
    max-width: calc(325px + 36px);
    background: var(--background-secondary-color);
    z-index: 9999;
    overflow: hidden;
    box-shadow: 5px 10px 20px rgba(255, 255, 255, 0.1);
}


/* #hint-container:before {
    content: " ";
    background: inherit;
    position: absolute;
    left: -25px;
    right: 0;
    top: -25px;
    bottom: 0;
    box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.3);
    filter: blur(10px);
} */

#hint-container section {
    display: flex;
    flex-direction: column;
}

#hint-container section h3 {
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.error {
    color: #fd2d55;
}