.toggle {
    box-sizing: border-box;
    width: 50px;
    height: 25px;
    border-radius: 50px;
    padding: 3px;
    background: var(--background-secondary-color);
}

.toggle:hover {
    cursor: pointer;
}

.toggle #swithcher {
    background: var(--yellow);
    width: calc(25px - 9px);
    height: calc(25px - 9px);
    border-radius: 50%;
    transition: transform 0.2s ease-out;
}