@keyframes loading-inner {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loading-inner div {
    position: absolute;
    animation: loading-inner 1s linear infinite;
    width: 160px;
    height: 160px;
    top: 20px;
    left: 20px;
    border-radius: 50%;
    box-shadow: 0 4px 0 0 var(--yellow);
    transform-origin: 80px 82px;
}

.loading-spinner {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-60%, -50%);
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: transparent;
    /* background: var(--background-color); */
}

.loading-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
}

.loading-inner div {
    box-sizing: content-box;
}