.container-song {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    border-radius: 8px;
    margin: 2px 0px;
    background: var(--background-secondary-color);
}

.container-song .cover-container {
    width: 40px;
    height: 40px;
    margin: 0 20px;
    border-radius: 5px;
    overflow: hidden;
}

.container-song .cover-container img {
    width: 100%;
    height: auto;
}

.container-song .info-container {
    display: flex;
    flex-direction: column;
    color: var(--text-color);
}

.container-song .info-container span {
    font-weight: 700;
}

.container-song .info-container .contributors .track-artist {
    color: var(--red-pale);
    font-size: 0.8rem;
    margin: 0;
}

.container-song .duration {
    position: absolute;
    right: 125px;
    min-width: 45px;
    margin: 0;
    font-size: 0.8rem;
}

@media (max-width: 432px) {
    .container-song .duration {
        display: none;
    }
}